.large-container {
    width: 300px;
    min-height: 200px;
    height: auto;
    border: 2px solid #007DC6;
    margin: 2px;
    padding: 1px;
    background-color: #f0f0f0;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.small-box {
    height: 100px;
    background-color: #007DC6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
    margin: 20px 0;
    z-index: 10;
}

.ui-state-highlight {
    background-color: #d3d3d3;
    width: 100px;
    height: 100px;
    border: 2px dashed #007DC6;
    margin: 10px;
}

.small-highlight {
    background-color: #d3d3d3;
    width: 100px;
    height: 100px;
    border: 2px dashed #007DC6;
    margin-bottom: 10px;
}

.titulo {
    max-height: 30px;
}


.box-container {
    width: 100px;
    height: 100px;
    background-color: #6c757d;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    position: relative;
}

.move-handle {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: move;
}

a {
    text-decoration: none !important;
}

#vertical div{
    min-width: 150px;
}

.btnClicado{
    background-color: green !important;
    color: white !important;
}

.vertical,
.horizontal,
.caixaGrandePequena{
    cursor: pointer;
}